apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: my-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: 287002303630.dkr.ecr.ap-northeast-2.amazonaws.com/frontend:latest
          ports:
            - containerPort: 3000
          # 필요하다면 환경변수 추가